In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

## importing DataSet

In [4]:
too = pd.read_csv("toyota.csv",index_col=0,na_values=["??","???"])
tot = too.copy()
tot.head(2)

       year  price transmission  mileage fuelType  tax   mpg  engineSize
model
 GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
 GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

## Identifing missing Value
- for this, we use tow function
    - isnull
    - isna

In [5]:
tot.isnull().sum()

year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

### No Missing Value

# add anohter DataSet

In [6]:
too = pd.read_csv("Cars_Data.csv",index_col= 0,na_values=["??","???"])
tot = too.copy()
tot.head(2)

,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Make,,,,,,,,,,,,,,
Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

### Check For Missing Value

In [7]:
tot.isnull().sum()

Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64