In [11]:
import pandas as pd
import numpy as np

In [12]:
cars_data= pd.read_csv('Cars_Data.csv')

In [13]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [14]:
cars_data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [15]:
cars_data['Model'] = cars_data['Model'].astype['float64']

TypeError: 'method' object is not subscriptable

Get Count of bytes a Column

In [16]:
cars_data['Make'].nbytes

3456

In [17]:
cars_data["Make"].astype("category").nbytes

736

In [18]:
hua = cars_data

In [19]:
hua.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [22]:
print(np.unique(hua['Model']))

TypeError: '<' not supported between instances of 'float' and 'str'

In [23]:
hua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [26]:
print(np.unique("length"))

['length']

In [28]:
print(np.unique(hua["Weight"]))

[1850. 2035. 2055. 2085. 2195. 2255. 2290. 2339. 2340. 2348. 2370. 2387.
 2403. 2425. 2432. 2447. 2458. 2500. 2502. 2513. 2524. 2581. 2601. 2606.
 2612. 2617. 2626. 2635. 2656. 2661. 2676. 2678. 2679. 2686. 2691. 2692.
 2696. 2697. 2698. 2701. 2702. 2732. 2744. 2750. 2751. 2756. 2761. 2762.
 2767. 2771. 2778. 2782. 2795. 2811. 2820. 2822. 2835. 2866. 2890. 2897.
 2911. 2921. 2932. 2934. 2946. 2960. 2965. 2994. 2998. 3003. 3020. 3023.
 3028. 3029. 3034. 3039. 3042. 3047. 3053. 3055. 3060. 3082. 3085. 3086.
 3090. 3091. 3101. 3105. 3109. 3118. 3119. 3131. 3135. 3153. 3173. 3174.
 3175. 3179. 3182. 3188. 3197. 3217. 3219. 3220. 3222. 3230. 3240. 3241.
 3246. 3248. 3250. 3252. 3255. 3258. 3263. 3279. 3281. 3285. 3290. 3294.
 3296. 3297. 3306. 3308. 3313. 3315. 3336. 3338. 3340. 3346. 3347. 3349.
 3351. 3353. 3357. 3360. 3362. 3380. 3381. 3395. 3410. 3415. 3416. 3417.
 3428. 3430. 3434. 3439. 3448. 3450. 3458. 3460. 3461. 3462. 3465. 3468.
 3469. 3470. 3472. 3473. 3476. 3477. 3479. 3480. 3483. 3484. 3485. 3487.
 3488. 3495. 3497. 3516. 3536. 3540. 3548. 3549. 3560. 3561. 3567. 3571.
 3575. 3576. 3577. 3581. 3583. 3585. 3591. 3594. 3606. 3610. 3616. 3620.
 3623. 3627. 3630. 3635. 3638. 3647. 3649. 3650. 3651. 3653. 3677. 3681.
 3682. 3691. 3694. 3699. 3700. 3714. 3715. 3721. 3725. 3760. 3766. 3768.
 3770. 3777. 3778. 3779. 3780. 3781. 3790. 3801. 3803. 3812. 3814. 3815.
 3823. 3825. 3826. 3829. 3836. 3840. 3851. 3862. 3865. 3871. 3874. 3880.
 3893. 3903. 3909. 3925. 3932. 3935. 3936. 3948. 3953. 3966. 3977. 3980.
 3984. 3990. 3992. 4012. 4013. 4021. 4023. 4024. 4035. 4042. 4044. 4046.
 4052. 4056. 4057. 4065. 4067. 4068. 4083. 4085. 4112. 4120. 4134. 4142.
 4160. 4165. 4175. 4195. 4230. 4235. 4275. 4302. 4309. 4310. 4331. 4340.
 4365. 4369. 4374. 4376. 4387. 4390. 4399. 4425. 4429. 4431. 4435. 4440.
 4451. 4463. 4464. 4473. 4474. 4542. 4548. 4576. 4600. 4605. 4638. 4675.
 4718. 4740. 4760. 4788. 4802. 4804. 4824. 4834. 4874. 4945. 4947. 4950.
 4967. 4987. 5000. 5013. 5042. 5050. 5086. 5194. 5270. 5287. 5367. 5379.
 5390. 5399. 5423. 5440. 5464. 5590. 5678. 5879. 5969. 6133. 6400. 7190.
   nan   nan   nan   nan]

In [ ]:
hua.replace()